body {
	background-color: #222631;
	font-family: Verdana, Geneva, sans-serif;
	color: white;
	font-weight: bold;
}

#main-container {
    background-color: black;
}

#game-title {
	background-color: #FD5690;
	text-align: center;
	font-size: 24px;
	font-weight: 900;

}

#game-rules {
	background-color: #9324C6;
}

.sbs-container {
}

.title {
	text-align: center;
}

.number {
	text-align: center;
	font-size: 24px;
}

#wins {
 	background-color: #C86C95;
}

#losses {
 	background-color: #C95F8D;
}

#target-number {
	background-color: #236BE7;
}

#running-total {
	background-color: #1E8FF4;
}

#message {
	text-align: center;
	color: white;
	font-weight: bold;
}

#crystal-buttons {
}

#crystal-buttons img {
}
